.administrador-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    flex-grow: 1;
}

.card {
    background-color: #b3b3b3;
}

