/* Estilos comunes */
.administrador-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.contenido-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5vh;
}

.dashboard {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 5vh;
}

/* Estilos para dispositivos móviles (pantallas de 768px o menos) */
@media (max-width: 768px) {

    .administrador-container {
        min-height: 90vh;
    }

    .contenido-container {
        width: 50%;
        gap: 1vh;
    }

    .dashboard {
        flex-direction: column;
    }
}