.auditor-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    flex-grow: 1;
}

.historial-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

th,
td {
    padding: 8px;
    text-align: left;
}

button {
    padding: 10px;
    cursor: pointer;
    border: none;
}

p {
    margin-top: 10px;
}

td.conformidad,
td.disconformidad {
    text-align: center;
}

td.conformidad input,
td.disconformidad input {
    margin: 0;
}

input[type="checkbox"] {
    width: 15px;
}

/* Estilos para la versión móvil */
.historial-mobile {
    width: 100%;
    min-height: min-content;
}

.accordion-button {
    text-align: left;
}

.accordion-body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.accordion-body-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
}

.tabla-vacia {
    text-align: center;
    font-style: italic;
    margin-top: 5vh;
}

.motivo-disconformidad {
    margin-top: 5vh;
    width: 50%;
}

.boton-firmar-mobile, .boton-firmar-desktop {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1vh;
}

@media screen and (max-width: 768px) {
    .boton-firmar-desktop{
        display: none;
    }
}