.auditor-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.historial-container {
    margin-top: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

th,
td {
    padding: 8px;
    text-align: left;
}

.botones-firmar {
    display: flex;
    justify-content: flex-end;
    margin-top: 10px;
    gap: 2vh;
}

button {
    padding: 10px;
    cursor: pointer;
    border: none;
}

p {
    margin-top: 10px;
}

td.conformidad,
td.disconformidad {
    text-align: center;
}

td.conformidad input,
td.disconformidad input {
    margin: 0; /* Ajusta el margen para centrar la casilla de verificación */
}