.manage-users-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: 5vh;
}

.contenedorDropdownMobile {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
}

.contenedor-botones-usuarios {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 5vw;
    width: 100%;
}

/* Asegurarse de que el contenedor del formulario tenga márgenes apropiados */
.user-form-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    /* Espacio entre los botones y el formulario */
}

.user-item.disabled,
tr.disabled {
    color: lightgray;
}

