* {
    margin: 0;
    padding: 0;
}

.navbar {
    position: sticky;
    top: 0;
    background-color: #61dafb;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu-container {
    position: relative;
}

.menu-button {
    font-size: 1.5rem;
    cursor: pointer;
    background: none;
    border: none;
    outline: none;
}

.menu-dropdown {
    position: absolute;
    top: calc(100% + 5px);
    right: 0;
    z-index: 1;
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.menu-content {
    display: flex;
    flex-direction: column;
}