.tecnico-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h2 {
    margin-bottom: 20px;
}

.botones {
    display: flex;
    gap: 1rem;
}

.botones-vistas {
    width: 40px;
    height: 40px;
}

.camposycontenido {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 40%;
    padding-top: 5vh;

}

.campos,
.contenido {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    width: 48%;
}

.label {
    margin-bottom: 5px;
    width: 100%;
}

input[type="time"],
select,
textarea {
    margin-bottom: 10px;
    padding: 5px;
    width: 100%;
}

textarea {
    resize: none;
}

.empty-space {
    height: 0vh;
    transform: translateY(3.5vh);
}

button {
    background-color: #333;
    color: white;
    padding: 10px;
    cursor: pointer;
    border: none;
}

select, textarea{
    background-color: #333;
}

#form-tecnico {
    display: flex;
    gap: 1rem;
    margin-top: 20px;
}

.historial-container {
    overflow-x: auto;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th,
td {
    padding: 10px;
    border: 1px solid #ddd;
    text-align: left;
}

th {
    background-color: #333;
    color: white;
}

.mensaje-confirmacion {
    background-color: #4caf50;
    color: white;
    padding: 15px;
    text-align: center;
    margin-top: 10px;
}

.campos{
    gap: 1rem;
}

.contenido{
    gap: 0.4rem;
}