.login-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .form-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  .email-container,
  .password-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  .password-container {
    position: relative;
  }
  
  .password-input {
    padding-right: 30px; /* Ajusta el espacio para el botón del ojo */
  }
  
  .toggle-password-button {
    position: absolute;
    top: 58%;
    right: 1px; /* ajusta el margen derecho según tus preferencias */
    transform: translateY(-50%);
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    color: black; /* Cambia el color del icono a negro */
  }
  
  .toggle-password-button:hover {
    background-color: transparent; /* Evita cualquier cambio de color en el hover */
  }
  